body {
    margin: 0;
    box-sizing: border-box;
    // background-color: rgb(78, 78, 128);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.746);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  $clr1:'red';

    .basic-container {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 70vw;
      margin-bottom: 12px;
    }

    // .btn{
    //   color: rgb(255, 90, 124);

    //   &.contained{
    //     color: #ffffff;
    //     background-color: rgb(255, 90, 124);
    //   }
    // }