$clr1: rgb(253, 227, 202);
$clr2: rgb(253, 180, 68);
$clr3: rgb(254, 163, 54);
$clr4: rgb(254, 90, 125);
$clr5: rgb(255, 90, 124);
$clr6: rgb(2, 204, 192);
$clr7: rgb(85, 118, 159);
$clr8: rgb(6, 8, 91);
